@using LotteryProject.Client.Shared.Services.Interfaces;
<PageTitle>Lotteries</PageTitle>
<h1>Lotteries</h1>

@if (lotteries is null)
{
	<h3>Loading...</h3>
}
else
{
	<div class="guest-full-list">
		<ul class="guest-list">
			@for (var index = 1; index < lotteries.ToList().Count() + 1; index++)
			{
				var lottery = lotteries.ToList()[index - 1];
				var indexOfLotteries = indexes[index - 1];

				<LotteryListItem Index="@indexOfLotteries" LotteryItem="@lottery" OnLotteryDeleted="@HandleLotteryDeleted" />

			}
			<button class="add-btn" type="button" @onclick="@(() => CreateLottery())">Create Lottery</button>
		</ul>

		<div class="pager">
			<Pager PagingParameters="@_pagingParameters" SelectedPage="@SelectedPage"></Pager>
		</div>
	</div>
}
