@using Blazored.FluentValidation


<EditForm Model="@ItemViewModel" OnValidSubmit="@HandleValidSubmit">
	<FluentValidationValidator DisableAssemblyScanning="@true" Validator="@Validator"></FluentValidationValidator>
	@* <ValidationSummary /> *@

	<div class="form-group">
		<label class="col-md-3">Description</label>
		<InputText class="col-md-8 form-control" @bind-Value="ItemViewModel.Description" style="width: 500px"></InputText>
		<ValidationMessage For="@(() => ItemViewModel.Description)" />
	</div>

	<div class="form-group">
		<label class="col-md-3">Category</label>
		<InputText class="col-md-8 form-control" @bind-Value="ItemViewModel.Category" style="width: 500px;"></InputText>

	</div>
	<button type="submit" style="margin-top:10px; background-color: #008000;" class="save-button">
		<i class="fa fa-save"></i>
	</button>
	<button style="margin-top:10px;margin-left:10px;background-color: #7E57C2;" class="save-button" @onclick="BackToList">
		<i class="fa fa-reply"></i>
	</button>

</EditForm>
